body{
background: url(fon.jpg) repeat;
}

.main {
  width: 600px;
  margin: 0 auto;
  text-align: justify;
}

a.captain{
  color: green;
}

.center{
  text-align: center;
}

td.good{
  background-color: green;
}

td.mark{
  background-color: yellow;
}

td.bad{
  background-color: red;
}

td.none{
  background-color: black;
}

table{
  border-spacing: 2px 4px;
}
