body{
background: url(fon.jpg) repeat;
}

.main {
  width: 600px;
  margin: 0 auto;
  text-align: justify;
}

a.captain{
  color: green;
}

.center{
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td.student {
	width:200px;
}

td.yes {
	background:url(green_one.png) no-repeat;
	background-color: #dddddd;
	background-size: 15px 15px;
	background-position: center;
}
td.no {
	background:url(red_one.png) no-repeat;
	background-color: #dddddd;
	background-size: 15px 15px;
	background-position: center;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
}
